<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <div id="head">
        <div id="head1">

        </div>
        <div id="head2">
            <a class="title" href="/" >Blindtest</a>
        </div>
        <div id="head3">
            {% if user.is_authenticated %}
            <a href="/logout">Se deconnecter</a>
            <p>{{ user.username }}</p>
            {% else %}
            <a href="../login">Se connecter</a>
            {% endif %}
        </div>
    </div>

    <div class="button">
        <a>Rejoindre une partie</a>
        <a>Créer une partie</a>
    </div>
</body>
</html>